:root {
  --white: rgb(249, 246, 247);
  --black: rgb(35, 35, 35);
  --cream: rgb(235, 219, 200);
  --darkRed: rgb(119, 29, 35);
  --darkGrey: rgb(35, 35, 35);
}

@font-face {
  font-family: "DINPro-Black";
  /* .eot */
  src: url(../fonts/DINPro/eot/DINPro-Black.eot);
  /* .otf */
  src: url(../fonts/DINPro/otf/DINPro-Black.otf);
  /* .svg */
  src: url(../fonts/DINPro/svg/DINPro-Black.svg);
  /* .ttf */
  src: url(../fonts/DINPro/ttf/DINPro-Black.ttf);
  /* .otf */
  src: url(../fonts/DINPro/woff/DINPro-Black.woff);
}

@font-face {
  font-family: "DINPro-Bold";
  src: url(../fonts/DINPro/eot/DINPro-Bold.eot);
  /* .otf */
  src: url(../fonts/DINPro/otf/DINPro-Bold.otf);
  /* .svg */
  src: url(../fonts/DINPro/svg/DINPro-Bold.svg);
  /* .ttf */
  src: url(../fonts/DINPro/ttf/DINPro-Bold.ttf);
  /* .otf */
  src: url(../fonts/DINPro/woff/DINPro-Bold.woff);
}

@font-face {
  font-family: "DINPro-Light";
  src: url(../fonts/DINPro/eot/DINPro-Light.eot);
  /* .otf */
  src: url(../fonts/DINPro/otf/DINPro-Light.otf);
  /* .svg */
  src: url(../fonts/DINPro/svg/DINPro-Light.svg);
  /* .ttf */
  src: url(../fonts/DINPro/ttf/DINPro-Light.ttf);
  /* .otf */
  src: url(../fonts/DINPro/woff/DINPro-Light.woff);
}

@font-face {
  font-family: "DINPro-Medium";
  src: url(../fonts/DINPro/eot/DINPro-Medium.eot);
  /* .otf */
  src: url(../fonts/DINPro/otf/DINPro-Medium.otf);
  /* .svg */
  src: url(../fonts/DINPro/svg/DINPro-Medium.svg);
  /* .ttf */
  src: url(../fonts/DINPro/ttf/DINPro-Medium.ttf);
  /* .otf */
  src: url(../fonts/DINPro/woff/DINPro-Medium.woff);
}

@font-face {
  font-family: "DINPro-Regular";
  src: url(../fonts/DINPro/eot/DINPro-Regular.eot);
  /* .otf */
  src: url(../fonts/DINPro/otf/DINPro-Regular.otf);
  /* .svg */
  src: url(../fonts/DINPro/svg/DINPro-Regular.svg);
  /* .ttf */
  src: url(../fonts/DINPro/ttf/DINPro-Regular.ttf);
  /* .otf */
  src: url(../fonts/DINPro/woff/DINPro-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

body {
  font-family: "DINPro";
  background-color: var(--white);
}

header {
  position: relative;
  background-image: url(../img/us.png);
  background-color: var(--black);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.navbar {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.6em;
}

.logo {
  width: 8em;
}

.mainMenu {
  list-style: none;
}

.mainMenu li {
  display: inline-block;
  padding: 0.6em;
}

.mainMenu li a {
  color: var(--white);
  font-family: "DINPro-Light";
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
}

.bt-suscribe a {
  color: var(--cream);
  font-family: "DINPro-Medium";
  border: 1px solid var(--cream);
  text-decoration: none;
  padding: 0.5em;
}

.hero {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.hero h1 {
  color: var(--white);
  font-size: 4em;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  margin: 0 auto;
  padding: 3em 0;
  width: 90%;
}

.imgProduct {
  width: 100%;
}

footer {
  background: var(--cream);
  background: linear-gradient(
    180deg,
    rgba(235, 219, 200, 0.7) 60%,
    rgba(119, 29, 35, 0.7) 100%
  );
}

.footerContainer {
  text-align: center;
  padding: 2em;
}

.logoFooter img {
  width: 15em;
}

.socialMedia img {
  margin: 1em 0.3em;
  width: 3%;
}
