/* @import "base/reset"; */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* @import "abstracts/tipography"; */
/* COLOR */
/* TIPOGRAPHY */
/* MEDIA QUERIE */
header {
  background-image: url(../img/home.png);
  background-color: #232323;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; }
  header .navbar {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    position: relative; }
    header .navbar__logo {
      width: 8em; }
    header .navbar__mainMenu {
      list-style: none; }
      header .navbar__mainMenu li {
        display: inline-block;
        padding: 0.6em; }
        header .navbar__mainMenu li a {
          color: #f9f6f7;
          font-family: "Roboto", sans-serif;
          font-size: 1em;
          font-weight: 200;
          text-decoration: none; }
        header .navbar__mainMenu li .bt-suscribe {
          color: #f9f6f7;
          font-family: "Roboto", sans-serif;
          border: 1px solid #ebdbc8;
          text-decoration: none;
          padding: 0.5em; }

@media only screen and (max-width: 480px) {
  header {
    /* height: 10vh; */ }
    header .navbar {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 2em; }
      header .navbar .navbar__mainMenu li a {
        font-size: 0.7em; } }

@media only screen and (max-width: 768px) {
  header {
    height: 50vh; }
    header .navbar {
      display: flex;
      flex-direction: column;
      padding-top: 2em; } }

footer {
  background: #ebdbc8;
  /*   background: linear-gradient(
    180deg,
    rgba(235, 219, 200, 0.7) 60%,
    rgba(119, 29, 35, 0.7) 100%
  ); */ }
  footer .footer {
    text-align: center;
    padding: 2em 0; }
    footer .footer__logoFooter {
      width: 15em; }
    footer .footer__socialMedia {
      display: flex;
      width: 12%;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto; }
      footer .footer__socialMedia .socialIcon {
        /* margin: 1em 0.3em; */
        margin-top: 1em;
        width: 2.5em; }

@media only screen and (max-width: 480px) {
  .socialIcon {
    margin-left: 0.7em; } }

@media only screen and (max-width: 768px) {
  .socialIcon {
    margin-left: 0.7em; } }

/* SECCION HERO */
.mainContent {
  text-align: center; }
  .mainContent__title {
    color: #ebdbc8;
    font-family: "Lobster", cursive;
    font-size: 5em;
    margin: 0; }
  .mainContent__text {
    color: #f9f6f7;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin: 0.5em; }
  .mainContent__bt {
    color: #f9f6f7;
    background-color: #ebdbc8;
    border-radius: 0.3em;
    font-size: 1em;
    margin: 2em auto;
    padding: 0.5em;
    width: 20%; }
    .mainContent__bt .bt-suscribite {
      color: #232323;
      font-family: "Roboto", sans-serif;
      text-decoration: none; }
  .mainContent__bt:hover {
    transform: scale(1.2);
    transition: transform 0.2s; }

/* SECCION NOSOTROS */
.usSection {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  padding: 3em; }
  .usSection__text {
    padding: 2em; }
  .usSection__text h2 {
    color: #232323;
    font-family: "Lobster", cursive;
    font-size: 4em;
    font-weight: 700;
    margin: 0; }
  .usSection__text p {
    color: #232323;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0.7em 0; }
  .usSection__img {
    width: 25em; }

/* SECCION PRODUCTOS */
.ourProduct-div {
  position: relative; }

.productTitle {
  background-image: url(../img/img-ourProduct.png);
  background-color: #232323;
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh; }

.productTitle h3 {
  color: #ebdbc8;
  font-family: "Lobster", cursive;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: 0; }

.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  margin: 0 auto;
  padding: 3em 0;
  width: 90%; }

.imgProduct {
  width: 100%; }

.boxContainer {
  align-items: center;
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%; }

.iconContainer img {
  width: 30%;
  margin: 0; }

.boxContainer h3 {
  color: #771d23;
  font-family: "Lobster", cursive;
  font-size: 2em;
  margin: 0; }

.boxContainer p {
  font-family: "Roboto", sans-serif; }

@media only screen and (max-width: 480px) {
  /* HERO */
  .hero {
    margin-top: 40px;
    width: 70%; }
  .mainContent__title {
    font-size: 1.7em; }
  .mainContent__text {
    font-size: 1.3em; }
  .mainContent__bt {
    margin: 0 auto;
    width: 50%; }
  /* NOSOTROS */
  .usSection {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .usSection__text h2 {
      font-size: 2.5em; }
  /* PRODUCTOS */
  .productTitle {
    font-size: 1em;
    text-align: center; }
  .productContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin: 0 auto;
    padding: 3em 0;
    width: 100%; }
    .productContainer .boxContainer {
      height: 500px; }
      .productContainer .boxContainer h3 {
        font-size: 2em; }
      .productContainer .boxContainer p {
        font-size: 1em; } }

@media only screen and (max-width: 768px) {
  /* HERO */
  header {
    height: 70vh; }
  .hero {
    /* margin-top: 50px; */ }
  .mainContent__title {
    font-size: 2em; }
  .mainContent__text {
    font-size: 1.3em; }
  .mainContent__bt {
    margin: 0 auto;
    width: 30%; }
  /* NOSOTROS */
  .usSection {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .usSection__text h2 {
      font-size: 2.5em; }
  /* PRODUCTOS */
  .productTitle {
    font-size: 1em;
    text-align: center; }
  .productContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin: 0 auto;
    padding: 3em 0;
    width: 100%; }
    .productContainer .boxContainer {
      height: 500px; }
      .productContainer .boxContainer h3 {
        font-size: 2em; }
      .productContainer .boxContainer p {
        font-size: 1.5em; } }

.hero {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }
  .hero__title {
    color: #ebdbc8;
    font-family: "Lobster", cursive;
    font-size: 4em;
    text-align: center;
    margin: 0; }

.us {
  margin: 0 auto;
  width: 90%;
  padding: 3em 0; }
  .us__title {
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    margin-bottom: 1em; }
  .us__img {
    margin: 0 auto;
    background: url(./../img/img-ourProduct.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 100%; }
  .us__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1em; }

@media only screen and (max-width: 480px) {
  .us__img {
    height: 30vh; } }

.franquicias {
  padding: 2em;
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  .franquicias__title {
    font-family: "Roboto";
    font-size: 2em;
    margin-bottom: 1em; }
  .franquicias__text {
    font-family: "Roboto";
    font-weight: 300;
    text-align: left; }
  .franquicias__bt {
    margin: 0 auto;
    margin-top: 2em;
    width: 15%;
    background-color: #ebdbc8;
    padding: 1em;
    border-radius: 0.7em; }
    .franquicias__bt a {
      font-family: "Roboto";
      text-transform: uppercase;
      color: #f9f6f7;
      text-decoration: none; }

@media only screen and (max-width: 480px) {
  .franquicias__bt a {
    font-size: 0.7em; } }

@media only screen and (max-width: 768px) {
  .franquicias__bt {
    width: 30%; } }

@media only screen and (max-width: 992px) {
  .franquicias__bt {
    width: 30%; } }

.title {
  color: #ebdbc8;
  font-family: "Lobster", cursive;
  font-size: 5em;
  margin: 0; }

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  margin: 0 auto;
  padding: 3em 0;
  width: 90%; }
  .gallery__imgProduct {
    width: 100%; }

@media only screen and (max-width: 480px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin: 0 auto;
    padding: 3em 0;
    width: 90%; } }

@media only screen and (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin: 0 auto;
    padding: 3em 0;
    width: 90%; } }
