/* @import "base/reset"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "base/tipography";
@import "utils/variables";
@import "utils/mixins.scss";
@import "utils/maps";
@import "layout/navbar";
@import "layout/footer";
@import "pages/index.scss";
@import "pages/nosotros.scss";
@import "pages/franquicias.scss";
@import "pages/galeria";
