.franquicias {
  padding: 2em;
  width: 90%;
  margin: 0 auto;
  text-align: center;

  &__title {
    font-family: "Roboto";
    font-size: 2em;
    margin-bottom: 1em;
  }

  &__text {
    font-family: "Roboto";
    font-weight: $weight300;
    text-align: left;
  }

  &__bt {
    margin: 0 auto;
    margin-top: 2em;
    width: 15%;
    background-color: $cream;
    padding: 1em;
    border-radius: 0.7em;

    a {
      font-family: "Roboto";
      text-transform: uppercase;
      color: $white;
      text-decoration: none;
    }
  }
}

@include mediaQuerie($sm) {
  .franquicias__bt a {
    font-size: 0.7em;
  }
}

@include mediaQuerie($md) {
  .franquicias__bt {
    width: 30%;
  }
}

@include mediaQuerie($ls) {
  .franquicias__bt {
    width: 30%;
  }
}
