/* @import "abstracts/tipography"; */

/* COLOR */

$white: rgb(249, 246, 247);
$black: rgb(35, 35, 35);
$cream: rgb(235, 219, 200);
$darkRed: rgb(119, 29, 35);
$darkGrey: rgb(35, 35, 35);

/* TIPOGRAPHY */

$roboto: "Roboto", sans-serif;
$lobster: "Lobster", cursive;
$weight300: 300;
$weight500: 500;
$weight900: 900;

/* MEDIA QUERIE */

$sm: 470px;
$md: 768px;
$ls: 992px;
